* {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 1600px;
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo {
    font-family: 'Atomic Age', cursive;
    font-weight: bold;
    font-size: 50px;
    color: crimson;
    cursor: pointer;
    text-align: center;
}



.logo:hover {
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    display: flex;
    align-items: center;
}

.header-section div {
    padding: 10px;
    cursor: pointer;
}

.header-section div:hover {
    background-color: crimson;
    border-radius: 3px;
    color: white;
}
/*.header div {*/
    /*display: flex;*/
    /*height: 60px;*/
    /*align-items: center;*/
/*}*/



@media all and (max-width: 600px){
    .header {
        flex-direction: column;
    }

    .header-section {
        flex-direction: column;
    }

}

.header li {
    list-style: none;
}

.left {
    padding: 10px;
    flex-basis: 700px;
    flex-grow: 1;
}

.right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
}

.img {
    background-size: 100%;
    max-width: 100%;
}

.right-item {
    padding: 10px;
    flex-grow: 1;
}

.goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.good {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 350px;
    flex-grow: 1;
    min-height: 100px;
    align-items: center;
    flex-wrap: wrap;
}

@media all and (max-width: 1052px){
    h1, h2, h3, h5 , h4{
        text-align: center;
    }
}

@media all and (max-width: 1142px) and (min-width: 500px){
    h4 {
        text-align: center;
    }

    .good {
        flex-direction: row;
        align-items: flex-start;
        flex-grow: 1;
        flex-wrap: nowrap;
        flex-basis: 600px;
    }

    .img {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .good-title {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 1;
        padding-right: 15px;
        flex-basis: 200px;
    }

    .good p {
        margin-top: 60px;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 300px;
    }

    .goods .good:nth-child(even) .good-title {
        order: 2;
    }

}

